<!--
  Generated template for the PrinterKtAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header no-border>

  <ion-navbar mode="ios">
    <ion-title text-center>
      {{device.id != null ? device.name : '厨房打印机'}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item class="wifi-addr">
    <ion-label>厨打名称</ion-label>
    <ion-input type="text" [(ngModel)]="device.name" placeholder="请输入厨打名称"></ion-input>
  </ion-item>

  <ion-grid class="wifi-addr" padding *ngIf="!isBluetooth">
    <ion-row padding-bottom>
      请输入打印机IP地址
    </ion-row>

    <ion-row>
      <ion-col align-self-end>
        <ion-input text-center type="tel" maxlength="3" [(ngModel)]="address1" #inputaddress1
                   (keyup)="checkValue(address1, 1, $event)" class="bborder"></ion-input>
      </ion-col>
      <ion-col col-auto align-self-end no-padding class="point">
        .
      </ion-col>
      <ion-col align-self-end>
        <ion-input text-center type="tel" maxlength="3" [(ngModel)]="address2" #inputaddress2
                   (keyup)="checkValue(address2, 2, $event)" class="bborder"></ion-input>
      </ion-col>
      <ion-col col-auto align-self-end no-padding class="point">
        .
      </ion-col>
      <ion-col align-self-end>
        <ion-input text-center type="tel" maxlength="3" [(ngModel)]="address3" #inputaddress3
                   (keyup)="checkValue(address3, 3, $event)" class="bborder"></ion-input>
      </ion-col>
      <ion-col col-auto align-self-end no-padding class="point">
        .
      </ion-col>
      <ion-col align-self-end>
        <ion-input text-center type="tel" maxlength="3" [(ngModel)]="address4" #inputaddress4
                   (keyup)="checkValue(address4, 4, $event)" class="bborder"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="wifi-addr" padding *ngIf="isBluetooth">
    <ion-row padding-bottom>
      蓝牙信息
    </ion-row>
    <ion-row>
      <ion-col>
        名称：
      </ion-col>

      <ion-col align-self-end>
        {{device.printerTypeDesc}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        地址：
      </ion-col>

      <ion-col align-self-end>
        {{device.address}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding-horizontal padding-top class="printer-type">
    <ion-row>打印类型</ion-row>
    <ion-row radio-group [(ngModel)]="device.printerModel">
      <ion-col ion-item>
        <ion-label>分单打印</ion-label>
        <ion-radio mode="md" color="main" value="{{config.PRINTER_MODEL_SPLIT}}"
                   checked="{{device.printerModel == config.PRINTER_MODEL_SPLIT ? true : false}}"></ion-radio>
      </ion-col>

      <ion-col ion-item>
        <ion-label>合并打印</ion-label>
        <ion-radio mode="md" color="main" value="{{config.PRINTER_MODEL_MERGE}}"
                   checked="{{device.printerModel == config.PRINTER_MODEL_MERGE ? true : false}}"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="device.id">
    <ion-item-divider *ngIf="typeList && typeList.length > 0">
      打印商品分类
    </ion-item-divider>

    <button ion-item *ngFor="let item of typeList" (click)="editType(item)">
      {{item.name}}
    </button>

    <div padding="">
      <button ion-button block no-margin color="self-yellow" outline (click)="deleteDevice()" style="width: 40%; margin: 0 auto; border-radius: 4px;">删除打印机</button>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button ion-button no-margin color="white" full (click)="testPrint()" [disabled]="retry">测试打印{{retry ? '(' +
        timeCount +')' : ''}}
      </button>
    </ion-col>

    <ion-col no-padding>
      <button ion-button no-margin color="self-yellow" full (click)="addOrReplaceKtPrinter()">保存</button>
    </ion-col>
  </ion-row>
</ion-footer> -->
