page-customer{
    .payMent{
        // padding-top:r(20px);
        padding-left: r(10px);
        .col {
            padding:r(2px) 0 r(0px) 0 !important;
            //  padding-top: r(20px);
        }
        padding-top: r(30px);
      
        .button {
            background: #ffffff;
            width: 98%;
            font-size: r(36px);
            border: 1px solid #E5E5E5;
            height: r(100px)!important;
            color: #000000
        }
       .btn-selected{
            border: 2px solid color($colors,primary);
        }
    }

}