<!--
  Generated template for the WoOrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>收款</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="printPrestatement()" style="color: orange">
        打印预结单
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll">
  <ion-list class="list-customer" no-lines>
    <button ion-item (click)="selectCust()">
      <ion-label class="label-first">选择会员</ion-label>
      <label
        item-end>{{appShopping.customer?appShopping.customer.custName+'('+appShopping.customer.discountTypeName+')':''}}</label>
    </button>
  </ion-list>

  <ion-list class="list-top" no-lines>
    <ion-item>
      <ion-label class="label-first">订单原价</ion-label>
      <label item-end>￥{{retalTotalMoney|number:'1.2-2'}}</label>
    </ion-item>
    <ion-item *ngIf="appShopping.salesh.ttlTeaAmt&&appShopping.salesh.ttlTeaAmt>0">
      <ion-label class="label-first">茶位费</ion-label>
      <label item-end>￥{{appShopping.salesh.ttlTeaAmt|number:'1.2-2'}}</label>
    </ion-item>
    <ion-item *ngIf="appShopping.salesTable.preAmt&&appShopping.salesTable.preAmt>0">
      <ion-label class="label-first">现金押金</ion-label>
      <label item-end>￥{{appShopping.salesTable.preAmt|number:'1.2-2'}}</label>
    </ion-item>
    <ion-item *ngIf="appShopping.salesh.makeUpConsumeAmt&&appShopping.salesh.makeUpConsumeAmt>0">
      <ion-label class="label-first">最低消费补齐</ion-label>
      <label item-end>￥{{appShopping.salesh.makeUpConsumeAmt|number:'1.2-2'}}</label>
    </ion-item>
    <ion-item *ngIf="appShopping.salesh.serverFeeAmt&&appShopping.salesh.serverFeeAmt>0">
      <ion-label class="label-first">服务费</ion-label>
      <label item-end>￥{{appShopping.salesh.serverFeeAmt|number:'1.2-2'}}</label>
    </ion-item>
    <ion-item>
      <ion-label no-padding mo-marge>单品优惠金额</ion-label>
      <label item-end>- ￥{{TotalOneCampaignPrice|number:'1.2-2'}}</label>
    </ion-item>
  </ion-list>

  <ion-list class="list-tow">
    <button ion-item (click)="goToAllPreferentialPage()">
      <ion-label>整单优惠</ion-label>
      <ion-note item-end>- ￥{{getAllCampaignPrice()|number:'1.2-2'}}</ion-note>
    </button>
    <!-- <ion-item>
      <ion-label class="label-first">打折</ion-label>
      <label item-end>￥{{retalTotalMoney}}</label>
    </ion-item>
    <ion-item>
      <ion-label no-padding mo-marge>改价</ion-label>
      <label item-end>￥{{retalTotalMoney-priceMap.allSalesPrice}}</label>
    </ion-item> -->
  </ion-list>

  <ion-list class="list-thr" no-lines>
    <ion-item>
      <ion-label class="label-first">应收</ion-label>
      <label item-end class="receivable">￥{{getAllSalesPrice()|number:'1.0-2'}}</label>
    </ion-item>
  </ion-list>

  <ion-list class="payMentList" no-lines>
    <ion-item *ngFor="let salesPay of appShopping.salesPayList">
      <ion-label class="label-first">{{salesPay.payName}}</ion-label>
      <label item-end>￥{{salesPay.payAmt|number:'1.0-2'}}</label>
      <button item-end class="div-button jz-center" (click)="delToPayList(salesPay)">
        <div class="ion-badge">
          <ion-icon name="close"></ion-icon>
        </div>
      </button>
    </ion-item>
    <ion-item class="last-item">
      <span>实收 ￥{{getRetailPrice()|number:'1.0-2'}}</span>
      <span *ngIf="getReceivablePrice()>0" class="price-color">，还需收 ￥{{getReceivablePrice()|number:'1.0-2'}}</span>
      <span *ngIf="getChangePrice()>0" class="price-color">，找零 ￥{{getChangePrice()|number:'1.0-2'}}</span>
    </ion-item>
  </ion-list>


  <ion-list class="payMent">
    <ion-list-header>
      支付方式
    </ion-list-header>
    <ion-row>
      <ion-col col-4 *ngFor="let payMent of payMentList">
        <button ion-button clear class="" (click)="goToPayMentkeyboardPage(payMent)" [disabled]="payMent.disabled"
          [ngClass]="{'btn-selected': payMent.disabled}">
          {{payMent.payName}}
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <div class="keyboard">
    <number-keyboard [number]="price" [isClear]='true' (confirm)="confirm()"></number-keyboard>
  </div>
</ion-footer> -->


<!-- <ion-content padding>

  <ion-list no-padding mo-marge>
    <ion-item *ngFor="let cart of orderSer.orderDetail.posUserorderDetailList" no-lines class="cart-item">
      <ion-thumbnail item-start>
        <img [src]="cart.imageUrl | imgUrl: 'dish'" imgError="dish">
      </ion-thumbnail>
      <ion-label>
        <div class="flex ion-justify-content-between ion-align-items-center ion-margin-bottom">
          <h2>{{cart.goodsName}}</h2>
          <div>
            <span class="default-price color-333">￥{{priceMap.price}}</span>
          </div>
        </div>
        <p>数量：{{totalQty}}</p>
      </ion-label>
    </ion-item>
    <ion-item class="border-top" no-lines>
      <ion-label>
        <div text-right class="font-12">
          不可打折金额：<span class="red p-r-5">￥{{priceMap.allUndisCountPrice || 0}}</span>
          可打折金额：<span no-padding class="red p-r-5">￥{{priceMap.allDisCountPrice}}</span>
          已优惠：<span class="red p-r-5">￥{{retalTotalMoney-priceMap.allSalesPrice}}</span>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="border-top" no-lines>
      <ion-label>
        <div text-right class="font-14">
          应收：<span no-padding class="lage-price">￥{{woShopService.getSalesTotalMoney()}}</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>支付方式</h2>
      </ion-label>
    </ion-item>
    <ion-item class="info">
      <ion-label>
        <span>现金</span>
      </ion-label>
    </ion-item>
    <ion-item class="info">
      <ion-label>
        <span>微信</span>
      </ion-label>
    </ion-item>
    <ion-item class="info">
      <ion-label>
        <span>支付宝</span>
      </ion-label>
    </ion-item>
    <ion-item class="info">
      <ion-label>
        <span>免单</span>
      </ion-label>
    </ion-item>
    <ion-item class="info" *ngIf="orderSer.orderDetail.posUserorder.description">
      <ion-label>
        <span>银联</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>-->
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <!-- <ion-col>
        <button ion-button block round outline (click)="addOrder()">抹零</button>
      </ion-col> -->
      <ion-col>
        <!-- [disabled]="!appPer.staffPermission('1201')" -->
        <button ion-button block round (click)="doAccounts()">结账</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer>