page-wo-order-detail {
  .no-scroll .scroll-content{overflow:hidden};
  .scroll-content {
    background: #efefef;
     padding: 0px!important;
  }

  .list-top{
    background: #ffffff;
    .label-ios{
      color: #BBBBBB;
      font-size: r(24px);
      margin: 0px 0px 0px 0;
    }
  }
  .list-tow{
    background: #ffffff;
    .label-ios{
      color: #BBBBBB;
      font-size: r(24px);
      margin: 0px 0px 0px 0;
    }
  }
  .list-ios {
    margin: -1px 0 0px;
}
.list-thr{
  .label-ios{
    color: #000000;
    font-size: r(28px);
    margin: 0px 0px 0px 0;
  }
}
.receivable{
  font-size: r(38px);
  color: coral;
}

.payMent{
  .col {
   padding: 0px!important;
}
  padding-top: r(30px);

  .button {
    background: #ffffff;
    width: 100%;
    border: 1px solid #E5E5E5;
    height: r(100px)!important;
 }
}



number-keyboard .container .keyboard .keyboard-box-right {
  padding-bottom: r(10px);

}
.keyboard{
  // position: absolute;
  // bottom: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
 height: r(560px);
}
}
