page-wo-search {
  .content-ios,
  .item-ios[detail-push] .item-inner,
  button.item-ios:not([detail-none]) .item-inner,
  a.item-ios:not([detail-none]) .item-inner {
    background-image: none;
    padding-right: 8px;
    background-position: right 14px center;
    background-position: right calc(14px + constant(safe-area-inset-right))
      center;
    background-position: right calc(14px + env(safe-area-inset-right)) center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
  .scroll-content {
    background: #ffffff;
  }
  .header-ios .toolbar-background {
    border: none;
  }
  .simper-btn {
    border-radius: 50%;
    height: r(50px);
    width: r(50px);
    line-height: r(50px);
    min-height: r(50px);
    padding: r(40px);
    text-align: center;
    background: none;
    ion-icon {
      font-size: r(50px);
    }
  }
  .spec-btn {
    // position: absolute;
    // z-index: 100;
    // bottom: r(10px);
    // right: r(10px);
    border-radius: r(40px);
    height: r(50px);
    line-height: r(50px);
    min-height: r(50px);

    margin: r(20px) r(0px) 0 r(20px);
    span {
      font-size: r(24px);
    }
  }
  .ion-badge-bz {
    //水印
    position: absolute;
    top: r(20px);
    right: r(0px);
    z-index: 1000;
    opacity: 0.6;
    transform: rotate(30deg);
    display: inline-block;
    font-size: r(24px);
    color: #dd0404;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dd0404 !important;
    border-radius: 0px;
  }

  // .spu-num{
  //   width: r(30px);
  //   height: r(30px);
  //   line-height: r(30px);
  //   color: #FFFFFF;
  //   position: absolute;
  //   font-size: r(20px);
  //   top: r(0px);
  //   right: r(-0px);
  // }
  .spu-num {
    width: r(30px);
    height: r(30px);
    line-height: r(30px);
    color: #ffffff;
    position: absolute;
    font-size: r(20px);
    top: r(0px);
    right: r(-0px);
  }
  a ion-label,
  button ion-label {
    pointer-events: inherit;
  }
  .ion-badge-bz {
    //水印
    position: absolute;
    top: r(20px);
    right: r(0px);
    z-index: 1000;
    // right: 10px;
    // top: -webkit-calc((100% - height) / 2);
    // top: -moz-calc((100% - height) / 2);
    // top: -ms-calc((100% - height) / 2);
    // top: calc((100% - height) / 2);
    // position: absolute;
    // background: #999;
    opacity: 0.6;
    transform: rotate(30deg);
    display: inline-block;
    font-size: r(24px);
    color: #dd0404;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dd0404 !important;
    border-radius: 0px;
  }
  .p-inline {
    display: inline;
    // color: red;
  }
  .p-color {
    color: red;
  }
  .tips {
    position: absolute;
    right: r(-24px);
    top: r(4px);
    padding: 0 r(30px);
    transform: rotate(45deg);
    color: #fff;
    font-size: r(20px);
  }
  .tips.o {
    background: orange;
   
  }
  .tips-left {
    position: absolute;
    left: r(-24px);
    top: r(0px);
    padding: r(5px) r(30px) r(5px);
    transform: rotate(-45deg);
    color: #fff;
    // height: r(30px);
    font-size: r(20px);
    text-align: center;
    z-index:1001 ;
  }
  .tips-left.o {
    background: orange;
   
  }
  .soldoutNum-span{
    color: red;
    font-size: r(22px);
    background-color: #EFEFEF;
    padding: r(4px) r(10px) r(4px) r(10px) ;
    border-radius:r(6px);
    color: #333333;
    text-align: center;
    margin-right: r(20px);
    width: 100%;
  }

  //平板大屏 dpdpdpdpdppd
  .isShowSlab1 {
    // display: flex;
    float: left;
    width: 100%;
    height: r(350px);
    padding: r(10px) r(10px) r(40px) r(10px)!important;
    // margin: 0;
    // height: 30%;
  }
  .isShowSlab2 {
    // display: flex;
    float: left;
    width: 50%;
    height: r(300px);
    padding: r(10px) r(10px) r(20px) r(10px)!important;
    // height: 30%;
  }
  .isShowSlab3 {
    // display: flex;
    float: left;
    width: 33.33%;
    height: r(300px);
    padding: r(10px) r(10px) r(20px) r(10px)!important;
    // height: 30%;
    // padding: 0px!important;
  }
  .isShowSlab4 {
    // display: flex;
    float: left;
    width: 25%;
    height: r(300px);
    padding: r(10px) r(10px) r(20px) r(10px)!important;
    // margin: 0;
    // padding: 0;
    // height: 30%;
  }
  .slab-item-img {
    width: 100% !important;
    height: 75% !important;
    position:relative;
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .slab-item-img-top{
    position:absolute;
    top: r(10px);
    left: r(10px);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    // opacity: 0.4;
    color: #999999!important;
    h2{
      padding: r(5px);
      border-radius: r(5px);
      background-color: rgba(0, 0, 0, 0.2);
      color: #ffffff!important;
      font-size: r(20px);
    }
    span{
      padding: r(5px);
      border-radius: r(5px);
      background-color: rgba(0, 0, 0, 0.2);
      color: #ffffff;
      font-size: r(18px);
    }
    // .soldoutNum{
    //   color: red!important;
    // }
  }
  .slab-item-endbutton {
    padding-top: 0;
    margin-top: 0;
    display:block;
    width: 100%;
    height: 25% !important;
    background-color: blanchedalmond!important;
    .slab-spec-btn {
      border-radius: r(25px);
      height: r(50px);
      // width: r(50px);
      line-height: r(50px);
      min-height: r(50px);
      max-width: 100%;
      max-height: 40%;
      padding: r(25px);
      margin-top: r(10px);
      text-align: center;
      // background: none;
      span {
        font-size: r(16px);
      }
    }
  }
  // dpdpdpdpdpdpdpdpdpdpdpddd
}