<!--
  Generated template for the PrinterDeviceBluetoothPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar mode="ios">
    <ion-title text-center>
      {{device.id != null?desc:'蓝牙打印机'}}
    </ion-title>

    <ion-buttons end *ngIf="device.id != null">
      <button ion-button clear (click)="changePrinter()">
        更换打印机
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="device.id != null; else scan_ui">
    <ion-list insert class="print-device">
      <ion-item>
        打印机类型:
        <ion-note item-end color="third">蓝牙打印机</ion-note>
      </ion-item>
      <ion-item>
        设备名称:
        <ion-note item-end color="third">{{device.name}}</ion-note>
      </ion-item>

      <ion-item>
        设备地址:
        <ion-note item-end color="third">{{device.address}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-grid padding-horizontal padding-top *ngIf="printerType == '4'" class="printer-type">
      <ion-row>标签规格</ion-row>
      <ion-row radio-group [(ngModel)]="device.normsType">
        <ion-col ion-item>
          <ion-label>40mm*30mm</ion-label>
          <ion-radio mode="md" color="main" value="1" checked="{{device.normsType=='1'?true:false}}"></ion-radio>
        </ion-col>-->

        <ion-col ion-item>
          <ion-label>40mm*40mm</ion-label>
          <ion-radio mode="md" color="main" value="2" checked="{{device.normsType=='2'?true:false}}"></ion-radio>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item class="wifi-addr">
          <ion-label>左边矩(mm)</ion-label>
          <ion-input type="text" [(ngModel)]="device.left" placeholder="左边矩"></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #scan_ui>
    <ion-list insert radio-group [(ngModel)]="device.address">
      <ion-item *ngFor="let item of bluetoothSerialDevices">
        <ion-label>{{item.name || item.id}}</ion-label>
        <ion-radio value="{{item.id}}" (ionSelect)="selecteBluetoothDevice(item)" color="main"></ion-radio>
      </ion-item>
    </ion-list>

    <div padding-horizontal>
      <button ion-button block color="main" [disabled]="searchBtn" (click)="doScan()">
        {{searchBtn ? '正在搜索...' : '搜索蓝牙设备'}}
      </button>
    </div>

  </ng-template>
  <div class="div-botton"> </div>
  <div class="div-botton"> </div>
  <ion-list no-lines>
    <ion-item>
      <span item-start style="margin: 3px 7px 0px 0px"><img src="assets/imgs/shiftturnoverdetail/tb.png" class="img-center" /></span>
      <span class="text-size-2 ">打印机规格</span>
    </ion-item>

    <ion-list radio-group [(ngModel)]="device.size">
      <!-- <ion-row no-lines> -->
      <ion-item align-items-center no-padding no-lines class="checkbox-back" style="padding-left:15px;">
        <ion-label>58mm</ion-label>
        <ion-radio value="1" checked></ion-radio>
      </ion-item>
      <ion-item align-items-center no-padding no-lines class="checkbox-back" style="padding-left:15px;">
        <ion-label>80mm</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
      <!-- </ion-row> -->
    </ion-list>
  </ion-list>

  <div *ngIf="device.id" padding="">
    <button ion-button block no-margin color="self-yellow" outline (click)="deleteDevice()" style="width: 40%; margin: 0 auto; border-radius: 4px;">删除打印机</button>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <button ion-button no-margin color="white" style="background-color:coral " full (click)="testPrint()" [disabled]="retry">测试打印{{retry ? '(' +
        timeCount +')' : ''}}</button>
    </ion-col>

    <ion-col no-padding>
      <button ion-button no-margin color="self-yellow" full (click)="addDevice()">{{isSelect?"选择":"保存"}}</button>
    </ion-col>
  </ion-row>
</ion-footer>