page-allPreferential {
    .content-ios,
    .scroll-content {
      background-color: #ffffff;

    }
    .scroll-content {
      background: #efefef;
    }
.header-item{
  
  span {
    color: #BBBBBB!important;
  }
}
.row-button{
  background: #ffffff;
  width: 100%;
}
.btn-selected{
  padding-top: r(0px);
  color: red;
}
.label-ios {
  margin: 0px r(16px) r(22px) 0;
}
.btn-foucouce{
  background: rgb(198, 214, 248);
}
.ion-segment{
  position: absolute;
  background: #fff;
  top: r(48px);
  height: 20px;
}
.segment-ios .segment-button {
  font-size: r(28px);
}
.top-span{
  position: absolute;
  left: r(20px);
  color: #BBBBBB!important;
  padding-bottom: r(20px)!important;
  margin-bottom: r(20px)!important;
  font-size: r(28px)!important;
}
.keyboard-header{
  span {
    text-align: center;
    padding: r(50px) r(10px) r(10px) r(10px);
    font-size: r(50px);
  }
}
.budget-row{
  margin: r(0px) r(30px) r(0px) r(30px);
  }
  .budget{
    padding: r(10px) r(30px) r(10px) r(30px);
    // background: greenyellow;
    background:#dedede;
    width: 100%;
    height: 100%;
    color: #000000;
   
    .button-inner{
      font-size: r(38px)!important;
    }
  }

}
