wo-cart-tab {
  .cart_tab {
    display: flex;
    color: #fff;
    // border-radius: r(70px);
    // overflow: hidden;
    align-items: center;
    height: r(100px);
    position: relative;
    background: #191919;
    // opacity: 0.8;
    .cart-icon {
        width: r(100px);
        border-radius: r(100px);
        height: r(100px);
        padding: r(10px) r(20px);
        background: #191919;
        position: relative;
        bottom: r(20px);
        ion-badge {
            position: absolute;
            background: transparent;
            right:r(-20px);
            top: r(-10px);
        }
        img {
            width: r(70px);
            height: auto;
            position: absolute;
            bottom: r(10px);
            left: r(15px);
        }
    }
    .inner {
        flex: 1;
        background: #191919;
        height: 100%;
        line-height: r(100px);
        // padding-top: r(10px);
        span {
            font-size: r(36px);
        }
    }
    .button {
        margin: 0 -1px 0 0;
        border-radius: 0;
        border-style: none;
        color: #191919;
        height: r(100px);
        line-height:  r(100px);
        font-size: r(32px);
    }
    .hangOrderBtn {
      background: #191919;
      color: #fff;
    }
}
.card-modal {
    background: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    top: 0;
    left: 0;
    // z-index: ;
}
ion-badge {
    background: transparent; 
    span {
        display: block;
    }
}
.num-badge{background: red}
.cart_tab_tips {
    display: inline-block;
    position: fixed;
    left: r(30px);
    z-index: 999;
    bottom: r(160px);
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: r(70px);
    // overflow: hidden;
    .item {
        background: transparent;
        p {
            color: #fff;
            font-size: r(28px);
        }
    }
}
.cart_tab_tips i {
    border-left: r(24px) solid transparent;
    border-right: r(24px) solid transparent;
    width: 0;
    height: 0;
    border-top: r(24px) solid rgba($color: #000000, $alpha: 0.5);
    z-index: 9;
    display: block;
    position: absolute;
    left: r(80px);
    // margin-left: -6px;
    bottom: r(-24px);
}


@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  .animated {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
