page-printer-device-select {

  .content {
    background-color: #f2f2f2;
  }

  .item-block, .list-ios > .item-block:last-child {
    border-bottom: 1px solid #EFEFEF;
  }

  .item-inner {
    border: none !important;
  }
}
