page-production-detail{
    .productionImg{
        height: 5.7rem;
    }
    .productionName{
        font-size: 0.7rem;
    }
    .productionIntroduce{
        font-size: 0.5rem;
    }
    .addToCar{
        margin-right: 1px;
    }
}